<div class="jumbotron jumbotron-fluid">
      <img src="http://www.bodylovewellness.com/wp-content/uploads/2012/01/npr_logo.gif">
      <h3><i>Welcome to the Open Source NPR Archive Scraper -- Click articles to see comments!</i></h3>
</div>
      <div id="wrapper">
      <div id="articles"></div>
      <div id="comments">
          <div id="comments_written"></div>
      </div>
      </div>
    <footer class="footer">*Not affiliated or endorsed by NPR</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>